# Exclui todos os arquivos da pasta
*
# Menos o próprio .gitignore
!.gitignore
!/aluno_aluno_2_cidade_do_nunca.png
!/aluno_aluna_2_monte_sião.png
!/aluno_aluno_1_cidade_do_nunca.png
!/aluno_aluna_1_águas.png
!/aluno_aluno_teste_lavras.png